---
import Base from "../components/Base.astro";
import Landing from "../components/Landing.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <Base />
  <body>
    <Landing />
  </body><nav>
    <Navigation />
  </nav>
</html>
