---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<section class="mt-20">
  <Image src={logo} alt="Logo" class="mx-auto rounded-full" loading="eager" />
  <div class="mt-5 text-center">Japicraft</div>
</section>
