---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<section class="mt-20">
  <Image src={logo} alt="Logo" class="mx-auto rounded-full" loading="eager" />
  <div class="mt-5 text-center">Japicraft</div>
  <div class="mx-auto mt-10 flex max-w-lg columns-5 rounded-lg bg-gray-400/50 p-8">Test</div>
</section>
