---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<section class="mx-auto mt-10 mb-20 max-w-xs transition md:max-w-xl xl:max-w-4xl">
  <div class="mb-5 text-center text-2xl font-bold">japicraft.com</div>
  <Image src={logo} alt="Logo" class="mx-auto rounded-full" loading="eager" />
  <div class="mt-10 text-center text-4xl font-bold">Projects</div>
  <a href="https://github.com/jirisitera/remotekeyboard" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
      Remote Keyboard - A remotely controlled keyboard. MQTT compatible.
    </div>
  </a>
  <a href="https://github.com/jirisitera/djitellodrone" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
      DJI Tello Drone - Control a drone from any computer.
    </div>
  </a>
  <a href="https://github.com/jirisitera/skinspice" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
      SkinSpice - Spice up your Minecraft skin with more customization!
    </div>
  </a>
  <a href="https://github.com/jirisitera/smooth-terrain-loading" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
      Smooth Terrain Loading - Loads Minecraft terrain in a smooth way.
    </div>
  </a>
  <a href="https://github.com/jirisitera/ev3-iotcraft" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
      EV3 IoTcraft - Connecting LEGO and IoTcraft.
    </div>
  </a>
  <div class="mt-10 text-center text-4xl font-bold">Skills</div>
  <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">Java - 5+ years of experience</div>
  <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
    Git - 5+ years of experience (as well as GitHub & GitLab workflows)
  </div>
  <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
    Web Development - 2+ years of experience (HTML, CSS/Tailwind, JavaScript/TypeScript, Astro)
  </div>
  <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">
    C++ & Pure C - 2+ years of experience
  </div>
  <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">Python - 3+ years of experience</div>
  <div class="mt-10 text-center text-4xl font-bold">Contact</div>
  <a href="mailto:contact@japicraft.com" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">E-mail: contact@japicraft.com</div>
  </a>
  <a href="https://github.com/jirisitera" target="_blank" rel="noreferrer nofollow">
    <div class="mt-10 rounded-lg bg-gray-400/50 p-8 transition hover:scale-105 hover:bg-gray-200/50">GitHub: github.com/jirisitera</div>
  </a>
  <div class="mt-20 text-center">
    Thanks for checking out my website! In case you need inspiration, this site is fully open sourced on my GitHub.
  </div>
</section>
