<section class="flex columns-5 mt-10 p-8 max-w-lg mx-auto bg-gray-400/50 rounded-lg">
    <a href="link" class="flex rounded-lg bg-gray-300 mx-auto w-fit p-4 rotate-45"/>
    <button class="flex rounded-lg bg-gray-300 mx-auto w-fit p-4 rotate-45">
    </button>
    <button class="flex rounded-lg bg-gray-300 mx-auto w-fit p-4 rotate-45">
    </button>
</section>
